*, :root{
    margin: 0;
    padding: 0;
}

body{
    background: #bdb9b9;
}

.content-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    margin: auto;
}

header{
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: #df0d00;
    margin-bottom: 25px;
    box-shadow: 0 3px 6px 0 rgba(50, 50,50, .9), 0 10px 8px 0 rgba(0, 0, 0, 0.18);
}

header h1{
    color: #ffffff;
    font-size: 2.5em;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 3px #000000;
}

.color-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;    
}

.color-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    box-sizing: border-box;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 6px 6px 0 rgba(50, 50,50, .9), 0 10px 8px 0 rgba(0, 0, 0, 0.18);
}

.color-code{
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

.color-sample{
    width: 200px;
    height: 100px;
    border: 1px solid #ccc;
    margin: auto;
    margin-bottom: 15px;
}

.ranges-container{
    margin: 0 auto;
}

.color-range-container{
    display: flex;
    align-items: center;
}

label{
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #000;
    padding: 2px;
}

input[type="range"]{
    width: 200px;
    margin: 10px 5px;
}

span{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

footer{
    width: 100vw;
    height: 10vh;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}